/* line 3, ../source/demo.scss */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box;
}

/* line 13, ../source/demo.scss */
body {
  font-size: 16px;
  background: green;
  height: 100%;
}

/* line 19, ../source/demo.scss */
h1 {
  font-size: 200%;
  line-height: 200%;
}

/* line 24, ../source/demo.scss */
#bodywrapper {
  max-width: 800px;
  margin: 0 auto;
}
/* line 27, ../source/demo.scss */
#bodywrapper > section {
  display: block;
  width: 100%;
  min-height: 100%;
  background-position: center center;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 5;
}
/* line 38, ../source/demo.scss */
#bodywrapper > section:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  margin-left: -0.25em;
}
/* line 46, ../source/demo.scss */
#bodywrapper > section > div {
  display: inline-block;
  width: 100%;
  min-height: 50%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  line-height: 16px;
  vertical-align: middle;
  z-index: 10;
}
/* line 57, ../source/demo.scss */
#bodywrapper > section[class^='bg-'] {
  z-index: 0;
  min-height: 0;
}
/* line 60, ../source/demo.scss */
#bodywrapper > section[class^='bg-']:before {
  height: 0;
}
/* line 64, ../source/demo.scss */
#bodywrapper > section.bg-h50 {
  min-height: 50%;
}
/* line 66, ../source/demo.scss */
#bodywrapper > section.bg-h50:before {
  height: 50vh;
}
/* line 70, ../source/demo.scss */
#bodywrapper > section.bg-h100 {
  min-height: 100%;
}
/* line 72, ../source/demo.scss */
#bodywrapper > section.bg-h100:before {
  height: 50vh;
}
/* line 76, ../source/demo.scss */
#bodywrapper > section.bg-t50 {
  padding-top: 50vh;
  margin-top: -50vh;
}
/* line 80, ../source/demo.scss */
#bodywrapper > section.bg-t100 {
  padding-top: 100vh;
  margin-top: -100vh;
}
/* line 84, ../source/demo.scss */
#bodywrapper > section.bg-b50 {
  padding-bottom: 50vh;
  margin-bottom: -50vh;
}
/* line 88, ../source/demo.scss */
#bodywrapper > section.bg-b100 {
  padding-bottom: 100vh;
  margin-top: -100vh;
}
