/* line 3, ../source/demo.scss */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box;
}

/* line 13, ../source/demo.scss */
body {
  font-size: 16px;
  background: green;
  max-width: 800px;
  margin: 0 auto;
}

/* line 19, ../source/demo.scss */
h1 {
  font-size: 200%;
  line-height: 200%;
}

/* line 25, ../source/demo.scss */
body > section {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-position: center center;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 5;
}
/* line 36, ../source/demo.scss */
body > section:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  margin-left: -0.25em;
}
/* line 44, ../source/demo.scss */
body > section > div {
  display: inline-block;
  width: 100%;
  min-height: 50vh;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  line-height: 16px;
  vertical-align: middle;
  z-index: 10;
}
/* line 55, ../source/demo.scss */
body > section[class^='bg-'] {
  z-index: 0;
  min-height: 0;
}
/* line 58, ../source/demo.scss */
body > section[class^='bg-']:before {
  height: 0;
}
/* line 62, ../source/demo.scss */
body > section.bg-h50 {
  min-height: 50vh;
}
/* line 64, ../source/demo.scss */
body > section.bg-h50:before {
  height: 50%;
}
/* line 68, ../source/demo.scss */
body > section.bg-h100 {
  min-height: 100vh;
}
/* line 70, ../source/demo.scss */
body > section.bg-h100:before {
  height: 50%;
}
/* line 74, ../source/demo.scss */
body > section.bg-t50 {
  padding-top: 50vh;
  margin-top: -50vh;
}
/* line 78, ../source/demo.scss */
body > section.bg-t100 {
  padding-top: 100vh;
  margin-top: -100vh;
}
/* line 82, ../source/demo.scss */
body > section.bg-b50 {
  padding-bottom: 50vh;
  margin-bottom: -50vh;
}
/* line 86, ../source/demo.scss */
body > section.bg-b100 {
  padding-bottom: 100vh;
  margin-top: -100vh;
}
