*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: inherit;
	line-height: inherit;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	background: green;
	max-width: 800px;
	margin: 0 auto;
}
h1 {
	font-size: 200%;
	line-height: 200%;
}

body {
	> section {
		display: block;
		width: 100%;
		min-height: 100vh; 
		background-position: center center;
		//background-size: cover;
		//border: 1px solid #fff;
		position: relative;
		text-align: center;
		vertical-align: middle;
		z-index: 5;
		&:before { 
			content: ''; 
			display: inline-block; 
			width: 0; 
			height: 100%; 
			vertical-align: middle; 
			margin-left: -0.25em; 
		}
		> div {
			display: inline-block;
			width: 100%;
			min-height: 50vh;
			background: rgba(255,255,255,.8);
			text-align: center;
			line-height: 16px;
			vertical-align: middle; 
			z-index: 10;
		}
		
		&[class^='bg-'] {
			z-index: 0;
			min-height: 0;
			&:before {
				height: 0;
			}
		}
		&.bg-h50 {
			min-height: 50vh;
			&:before {
				height: 50%;
			}
		}
		&.bg-h100 {
			min-height: 100vh;
			&:before {
				height: 50%;
			}
		}
		&.bg-t50 {
			padding-top: 50vh;
			margin-top: -50vh;
		}
		&.bg-t100 {
			padding-top: 100vh;
			margin-top: -100vh;
		}
		&.bg-b50 {
			padding-bottom: 50vh;
			margin-bottom: -50vh;
		}
		&.bg-b100 {
			padding-bottom: 100vh;
			margin-top: -100vh;
		}
	}
}
